@import "text/font";

body {
  margin: 0;
  transition: background-color 0.3s ease;
  background-color: #FEFFF6 !important;
}
body:after,body:before {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 3023023023020;
  pointer-events: none;
  opacity: 20%;
  color: #aeae9d
}
:before {
  filter: url(#grainy);
}

* {
  box-sizing: border-box;
  scrollbar-width: none !important;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: black;
}